<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="zh-Hant" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Login failed</title>
    <link rel="stylesheet" href="/static/styles/home_page.css" />
  </head>
  <body>
    <section class="welcome-area">
      <div class="welcome-text">
        <h1>失敗頁面</h1>
      </div>
    </section>

    <section class="sign-in">
      <p class="title">Error</p>
      <p style="color: red; margin-bottom: 10px">{{ message }}</p>
      <a href="http://127.0.0.1:8000/">回到首頁</a>
    </section>
  </body>
</html>
